S3method(print,mbrglm)
S3method(print,summary.mbrglm)
S3method(summary,mbrglm)
export(mbrglm)
export(mbrglm.control)
export(mbrglm.fit)
export(print.mbrglm)
export(print.summary.mbrglm)
export(summary.mbrglm)
import(nleqslv)
import(enrichwith)
useDynLib(mbrglm)
